*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
    color: white;
}


/* navbar started */
.logo{
    width: 165px;
    
}
.nav-text{
   
    font-size: 20px;
    font-weight: 300;
}

.franchise{
    background-color: transparent;
    color: white;
    border: 1px solid white;
    padding: 15px 25px;
    border-radius: 25px;
    font-size: 17px;
}
.order-btn{
    background-color: #ed1c24;
    color: #ffffff;
    border: none;
    padding: 15px 25px;
    border-radius: 25px;
    font-size: 18px;
}
.arrow-icon{
    color: #ed1c24;
    background-color: #ffffff;
    padding: 5px 5px;
    border-radius: 20px;
    margin-left: 5px;
}
/* navbar ended */

/* container started */
.container-img{
    width: 100%;

}
 /* carousel-items start */
.carousel-items{

}
.container{
    margin: 30px;
    border: 2px solid red;
    text-align: center;
    word-spacing: 6pxpx;
    letter-spacing: 5px;
   
}
.main_custom_headind{
    word-spacing: 10px;
    letter-spacing: 2px;
    /* border: 20px solid black; */

}

span.logo-text-hold{
    font-family: 'futurak';
    font-style: normal;
    font-weight: 400;
    font-size: 52px;
    line-height: 62px;
    color: #FFFFFF;
}
.font-size1{
    font-size: 
}
